/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* becouse I want the padding to add to actual wigth of the box    */
}

/*  Start Main Styling  */
html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em; /* the space between lines*/
}
a{
    color: #333;
    text-decoration: none; /* to remove under line in the ancor(link) word */
}

h1,h2,h3{
    padding-bottom: 20px; /* I put that becouse I remove all padding in all project ( HTML Tag ) {reset} */
}
p{
    /* 10:Top/bottom  0:left/right */
    margin: 10px 0;
}
/*  End Main Styling   */

/* Start Uitily class *//* This style can i use in more one place in project  */ 
.container{
    margin: auto;
    max-width: 1100px;
    padding: 0 20px;
    overflow: auto;
}

.text-primary{
    color: #f7c08a;
}

.lead{
    font-size: 20px;
}

.btn{
    display: inline-block; /* to remove any block for btn or ancor */
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover{
    background: #f7c08a;
    color: #333;
}

.btn-light{
    background: #f4f4f4;
    color: #333;
}
/* Start background color Type */
    .bg-dark{
        background: #333;
        color: #f4f4f4;
    }


    .bg-light{
        background: #f4f4f4;
        color: #333;
    }


    .bg-primary{
        background: #f7c08a;
        color: #333;
    }
    .cls{
        clear: both;
    }
/* End background color Type   */

/* Padding */
    .py-1{padding: 10px 0;}
    .py-2{padding: 20px 0;}
    .py-3{padding: 30px 0;}
/* Padding */
/* Type Size */
    .l-heading{
        font-size: 40px;
    }
/* Type Size */

/* End Uitily class   */


/* Start Navbar  */
#navbar{
    background-color: #333;
    color: #fff;
    overflow: auto;
}

#navbar a{
    color: #fff;
}

#navbar h1{
    float: left;
    padding-top: 20px;
}

#navbar ul{
    list-style: none; /* to remove list point in ul li style */
    float: right; 
}
#navbar ul li{
    float: left;
}

#navbar ul li a{
    display: block;
    padding: 20px; /* 20 all around  */
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current{ /* To make this style fixed(sticky) 
                            in the first(who is have current class) */
    /* put the background in squer bock of word = black/gray */
    background-color: #444;
    /* put color in word =  brown */
    color: #f7c08a;

}

/* End Navbar    */

/* Start Showcase */
#showcase{
    /* ../ = to out of css folder | but | ./ = to out of style file */
    background: url('../img/showcase.jpg') no-repeat center center/cover;
    height: 600px;
}

#showcase .showcase-content{
    color: #fff;
    text-align: center;
    padding-top : 170px;

}

#showcase .showcase-content h1{
    font-size: 60px;
    line-height: 1.2em;

}
#showcase .showcase-content P{
    padding-bottom: 20px;
    line-height: 1.7em;

}
/* End Showcase   */


/* Start Home-info */
#home-info{
    height: 400px;
}

#home-info .info-img{
    float: left;
    width: 50%;
    background: url('../img/photo-1.jpg') no-repeat;
    min-height: 100%;
}

#home-info .info-content{
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}
#home-info .info-content p{
    padding-bottom: 30px;
}
/* End Home-info   */

/* Start features */
.box{
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}
.box i{
    margin-bottom:10px ;
}
/* End features   */

/* Start About Page */
    /* Start About info */
        #about-info .info-right{
            float: right;
            width: 50%;
            min-height: 100%;
        }
        #about-info .info-right img{
            display: block;
            margin: auto;
            width: 70%;
            border-radius: 50%;
        }
        #about-info .info-left{
            float: left;
            width: 50%;
            min-height: 100%;
        }
    /* End About info   */
    /* Start testimonials */
        #testimonials{
            height: 600px;
            background: url('../img/test-bg.jpg') no-repeat center center/cover;
            padding-top:100px ;
        }
        #testimonials h2{
            color: #fff;
            text-align: center;
            padding-bottom: 40px;
        }
        #testimonials .testimonial{
            padding: 20px;
            height: 130px;
            margin: 20px 30px;
            border-radius: 5px;
            opacity: 0.9; /* توهج الخلفية  */
          
        }
        #testimonials .testimonial img{
            width: 100px;
            height: 90px;
            float: left;
            margin-right:20px;
            border-radius: 50%;
        }
    /* End testimonials   */
/* End About Page   */

/* Start Contact Page */


/* End Contact Page   */
#contact-form .form-group{
    margin-bottom: 20px;
}

#contact-form label{
    display: block;
    margin-bottom:5px ;
}

#contact-form input,
#contact-form textarea{
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
}

#contact-form textarea{
    height: 100px;
}

#contact-form input:focus,
#contact-form textarea:focus{
    outline: none;
    border-color: #f7c08a;
}


/* Start Main-Footer */
#main-footer{
    text-align: center;
    background: #444;
    padding: 20px;
    color: #fff;
}
/* End Main-Footer   */